[KGameTheme]
VersionFormat=1
Name=Default
Name[bg]=По подразбиране
Name[de]=Standard
Name[et]=Vaikimisi
Name[nl]=Standaard
Name[pt]=Por Omissão
Name[pt_BR]=Por Omissão
Name[sv]=Förval
Name[xx]=xxDefaultxx
FileName=default_theme.svgz
Author=John-Paul Stanford
AuthorEmail=jp@stanwood.org.uk
Preview=default_preview.png
