[KGameTheme]
VersionFormat=1
Name=KBomber - Star Wars
Name[cs]=KBomber - Hvězdné války
Name[fr]=KBomber - Star Wars
Name[nds]=KBomber - Krieg vun de Steerns
Name[pt]=KBomber - Guerra das Estrelas
Name[pt_BR]=KBomber - Guerra das Estrelas
Name[sv]=Bomber - Stjärnornas krig
Name[tr]=KBomber - Yıldız Savaşları
Name[uk]=KBomber — Зоряні війни
Name[x-test]=xxKBomber - Star Warsxx
Name[zh_TW]=KBomber - 星際大戰
FileName=kbomber.svgz
Author=Eugene Trounev [it-s]
AuthorEmail=eugene.trounev@gmail.com
Preview=kbomber.png
