[KGameTheme]
VersionFormat=1
Name=Lava-Island
Description=Stop the lava and save the day
FileName=Lava-Island.svgz
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Preview=lava-Island.png
