[KGameTheme]
VersionFormat=1
Name=Lava-Island
Name[km]=
Name[nn]=
Name[pt]=
Name[pt_BR]=
Name[sv]=
Name[tr]=
Name[uk]=
Name[x-test]=
Name[zh_TW]=
Description=Stop the lava and save the day
FileName=Lava-Island.svgz
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Preview=lava-Island.png
