[Desktop Entry]
Name=Bomber
Name[hne]=बम्बर
Name[it]=Bombardiere
Name[km]=គ្រាប់បែក
Name[nn]=Bombar
Name[ro]=Bombardier
Name[sr]=Бомбардер
Name[sr@latin]=Bombarder
Name[uk]=Бомбардувальник
Name[x-test]=xxBomberxx
Name[zh_CN]=投弹者
Name[zh_TW]=戰鬥機
Exec=bomber -caption "%c"
Icon=bomber
Type=Application
Terminal=false
GenericName=Arcade Bombing Game
GenericName[da]=Arkade-bombespil
GenericName[de]=Spiel mit Flugzeugbomben
GenericName[et]=Seikluslik pommitamismäng
GenericName[km]=ល្បែង​គ្រាប់បែក​របស់ Arcade
GenericName[nn]=Bombespel
GenericName[pt]=Jogo de Bombardeamento para Arcadas
GenericName[pt_BR]=Jogo de bombardeiro tipo arcade
GenericName[sr]=Аркадна игра бомбардовања
GenericName[sr@latin]=Arkadna igra bombardovanja
GenericName[sv]=Bombspel
GenericName[uk]=Аркадна гра у бомбардування
GenericName[zh_CN]=街机上的投弹游戏
GenericName[zh_TW]=大型遊戲機的戰鬥機遊戲
Categories=Qt;KDE;Game;ArcadeGame;
X-DocPath=bomber/index.html
X-DBUS-StartupType=Multi
