[Desktop Entry]
Name=Bomber
Name[hne]=बम्बर
Name[it]=Bombardiere
Name[nn]=Bombar
Name[ro]=Bombardier
Name[uk]=Бомбардувальник
Name[x-test]=xxBomberxx
Name[zh_CN]=投弹者
Name[zh_TW]=戰鬥機
Exec=bomber -caption "%c"
Icon=bomber
Type=Application
Terminal=false
GenericName=Arcade Bombing Game
Categories=Qt;KDE;Game;ArcadeGame;
X-DocPath=bomber/index.html
X-DBUS-StartupType=Multi
